pre.prettyprint, code.prettyprint {
		 border-radius: 8px;
         border-color: lightgray;
}

pre.prettyprint {
    margin: 1em auto;
    padding: 1em;
    width: auto;
    overflow: auto;
}

.prettyprint {
    background: white;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
    font-size: 9pt;
    line-height: 1.3;
    border: 1px solid #000000;
    padding: 10px;
}

code {
    background: white;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
    font-size: 9pt;
    color: #1e5eae;
}

.pln {
    color: black;
}

@media screen, print, projection {
    .str {
        color: #C41A16;
    }
    .kwd {
        color: #AA0D91;
    }
    .com {
        color: #007400;
    }
    .typ {
        color: #5C2699;
    }
    .lit {
        color: #1C00CF;
    }
    .pun {
        color: black;
    }
    .opn {
        color: #333333;
    }
    .clo {
        color: #333333;
    }
    .tag {
        color: #B53333;
    }
    .atn {
        color: #E81919;
    }
    .atv {
        color: #3366FF;
    }
    .dec {
        color: #643820;
    }
    .var {
        color: #3F6E74;
    }
    .fun {
        color: #26474B;
    }
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #929292;
}

